.auth-landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;

  .logo {
    width: 150px;
    height: auto;
    margin-bottom: 2rem;
  }

  .button-group {
    display: flex;
    gap: 1rem;
  }
}
