:host {
  display: block;
  padding: 2rem;
}

.new-article {
  margin-bottom: 15px;
}

.sort-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
}

.sort-container mat-icon {
  margin-left: 5px;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 2rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .articles-grid {
    grid-template-columns: 1fr;
  }
}

mat-card {
  background-color: rgba(220, 220, 220, 0.5);
  padding: 1rem;
}

mat-card-title a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

mat-card-subtitle {
  display: inline-block;
  margin-right: 2rem;
  font-size: 14px;
  color: #333;
}
