<button class="new-article" mat-raised-button color="primary" routerLink="/new-article">Créer un article</button>

<!-- Bouton de tri -->
<div class="sort-container">
  <span (click)="toggleSort()">
    Trier par <mat-icon>arrow_drop_down</mat-icon>
  </span>
</div>

<div class="articles-grid">
  <mat-card *ngFor="let article of articles">
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="['/articles', article.id]">Titre : {{ article.title }}</a>
      </mat-card-title>
      <mat-card-subtitle>Date : {{ formatDate(article.date) }}</mat-card-subtitle>
      <mat-card-subtitle>Auteur : {{ article.author }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Contenu : {{ article.content }}</p>
    </mat-card-content>
  </mat-card>
</div>
