.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    h2 {
      margin: 0;
      font-weight: 600;
    }
  }

  .register-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .full-width {
      width: 100%;
    }

    .submit-button {
      background-color: indigo;
      color: white;
    }
  }
}
